services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ivan-portfolio
    restart: always
    ports:
      - "3080:3080"
    environment:
      - NODE_ENV=production
      - PORT=3080
